@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'dosis', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0%;
	width: 100%;
	font-family: 'dosis', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(
		360deg,
		#d71d36,
		#f910a4,
		#555eb4,
		#01a24c,
		#fdd821
	);
	background-size: 400% 400%;
	animation: gradientFade 12s ease infinite;
}

@keyframes gradientFade {
	0% {
		background-position: 47% 0%;
	}
	50% {
		background-position: 54% 100%;
	}
	100% {
		background-position: 47% 0%;
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #363636;
	padding-top: 2em;
	line-height: 2em;
	height: 100px;
}

#wheel-container {
	width: 400px;
	height: 400px;
}

.inner-circle {
	color: #fff9c4;
	background-color: red;
}

.main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

	grid-template-rows: repeat(auto-fit, minmax(175px, 1fr));

	grid-auto-flow: column;
}

@media (min-width: 600px) {
	.gallery {
		column-count: 2;
	}
}

@media (min-width: 1000px) {
	.gallery {
		column-count: 3;
	}
}

@media (min-width: 1400px) {
	.gallery {
		column-count: 4;
	}
}

.form-horizontal {
	position: relative;
	left: 19em;
	top: -3em;
}
