* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0%;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(
		360deg,
		#d71d36,
		#f910a4,
		#555eb4,
		#01a24c,
		#fdd821
	);
	background-size: 400% 400%;
	animation: gradientFade 12s ease infinite;
}

@keyframes gradientFade {
	0% {
		background-position: 47% 0%;
	}
	50% {
		background-position: 54% 100%;
	}
	100% {
		background-position: 47% 0%;
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  opacity: .5;
	color: white;
	background-color: black;
}

#wheel-container {
	width: 400px;
	height: 400px;
}

.inner-circle {
	color: red;
	background-color: red;
}

.main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

	grid-template-rows: repeat(auto-fit, minmax(175px, 1fr));

	grid-auto-flow: column;
}

.results-div {
}

.gallery {
	column-count: 3;
}
